# Node modules
node_modules/

# Environment files
.env

# Logs
logs/
*.log

# Build files
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Dependency directories
Frontend/node_modules/
Backend/node_modules/
